html, body {
    color: white;
    font-family: Verdana, sans-serif;
    line-height: 1.5
}

html {
    background: url(cover.webp) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info {
    width: fit-content;
    border-radius: 0.3rem;
    padding: 0.1rem 1rem;
    background-color: #00000077;
}

.footer {
    position: fixed;
    bottom: 0.5rem;
}
