html, body {
    color: white;
    font-family: Verdana, sans-serif;
    line-height: 1.5
}

html {
    background: url(cover.jpg) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0.5rem;
}
